<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test-Suite">
    <test name="Sample newsletter page tests">
        <classes>
            <class name="newsletter.NewsletterTests" >
                <methods>
                    <include name="checkMandatoryLabels"/>
                    <include name="trySubscribeForLessThanThirtyDays"/>
                    <include name="subscribeToNewsletter"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>